* {
  box-sizing: border-box;
}
// Title text
.gallery-title {
  display: block;
  font-size: 32px;
  margin: 0px;
  margin-bottom: 24px;
  @media screen and (min-width: 1920px) {
    display: none;
  }
}
// Conteiner for section
.container-gallery {
  position: relative;
  width: 320px;

  @media screen and (min-width: 1920px) {
    width: 100%;
  }
}
// Conteiner for big slides
.big-slide {
  border: solid 1px rgb(212, 230, 231);
  border-radius: 8px;
  margin-bottom: 16px;
  position: relative;
}
// Button for zoom big slides
.big-slide-zoom {
  width: 44px;
  height: 44px;
  position: absolute;
  border-radius: 8px;
  border: none;
  top: 3%;
  left: 91%;
  display: none;
  padding: 14px;
  background-color: rgb(242, 245, 245);
  cursor: pointer;

  @media screen and (min-width: 1920px) {
    display: block;
  }
}

// Hide the images by default
.slides {
  display: none;
}

// Add a pointer when hovering over the thumbnail images
.cursor {
  cursor: pointer;
}

// Next & previous buttons for big slides
.previous-slide,
.next-slide {
  width: 44px;
  height: 44px;
  cursor: pointer;
  position: absolute;
  display: none;
  bottom: 30px;
  border: none;
  margin-top: -75px;
  background-color: rgb(242, 245, 245);
  color: rgb(12, 11, 11);
  padding: 11px 14px 11px 14px;
  border-radius: 8px;
  user-select: none;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1920px) {
    display: block;
  }
}

// Position the "next button" to the right
.next-slide {
  right: 15px;
}

.previous-slide {
  right: 71px;
}

// On hover, different color for button
.previous-slide:hover,
.next-slide:hover {
  color: white;
  background-color: rgba(184, 187, 187, 0.8);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

// Number text
.numbertext {
  font-weight: 500;
  color: #131111;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

// Container for image text
.caption-container {
  width: 155px;
  font-size: 10px;
  text-align: left;
  position: absolute;
  bottom: 5px;
  margin-left: 5px;
  padding: 5px;
  color: rgb(174, 187, 191);

  @media screen and (min-width: 1920px) {
    width: 100%;
    margin-left: 15px;
    bottom: 10px;
  }
}

.row:after {
  @media screen and(min-width:1920px) {
    content: '';
    display: flex;
    clear: both;
  }
}

.row {
  display: flex;
  padding: 0;
  gap: 8px;
}
// Next & previous buttons for small slides
.previous-row,
.next-row {
  width: 32px;
  height: 72px;
  cursor: pointer;
  border: none;
  background-color: rgb(242, 245, 245);
  color: rgb(12, 11, 11);
  padding: 11px 14px 11px 14px;
  border-radius: 8px;
  user-select: none;
  font-weight: 500;
  display: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1920px) {
    display: block;
  }
}
// On hover, different color for button
.previous-row:hover,
.next-row:hover {
  color: white;
  background-color: rgba(184, 187, 187, 0.8);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

// five columns side by side
.column {
  float: left;
  width: 108px;
}

// Add a transparency effect for thumnbail images
.demo {
  border: solid 1px rgb(212, 230, 231);
  border-radius: 8px;
}

.active,
.demo:hover {
  border: solid 1px rgb(20, 107, 135);
  border-radius: 8px;
}
