  <!-- Container for the image gallery --> 
       
<div class="container-gallery">
  <h1 class="gallery-title">Incline & Decline Conveyors</h1>
  <div class="big-slide">
    <button class="big-slide_zoom js-open-modal" data-modal="4">
      <svg class="big-slide_icon" width="16" height="16">
        <use href="./image/icons.svg#icon-Check"></use>
      </svg>
    </button>
  <!-- Full-width images with number text -->
  <div class="slides">
    <div class="numbertext">1 / 5</div>
      <img src="./image/image1.png" style="width:100%">
  </div>

  <div class="slides">
    <div class="numbertext">2 / 5</div>
      <img src="./image/image2.png" style="width:100%">
  </div>

  <div class="slides">
    <div class="numbertext">3 / 5</div>
      <img src="./image/image3.png" style="width:100%">
  </div>

 <div class="slides">
    <div class="numbertext">4 / 5</div>
      <img src="./image/image4.png" style="width:100%">
  </div>

  <div class="slides">
    <div class="numbertext">5 / 5</div>
      <img src="./image/image5.png" style="width:100%">
  </div>
</div>

  <!-- Next and previous buttons -->
  <button class="prev-slide" onclick="plusSlides(-1)">&#10094;</button>
  <button class="next-slide" onclick="plusSlides(1)">&#10095;</button>

  <!-- Image text -->
  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <!-- Thumbnail images -->
<div>
  <ul class="row">
    <div><button class="prev-row" onclick="plusSlides(-1)">&#10094;</button></div>
    <li class="list column">
      <img class="demo cursor" src="./image/image1.png" style="width:100%" onclick="currentSlide(1)" alt="Picture shows conveyor with optional structures amd features">
    </li>
    <li class="list column">
      <img class="demo cursor" src="./image/image2.png" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
    </li>
    <li class="list column">
      <img class="demo cursor" src="./image/image3.png" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
    </li>
    <li class="list column">
      <img class="demo cursor" src="./image/image4.png" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
    </li>
    <li class="list column">
      <img class="demo cursor" src="./image/image5.png" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
    </li>
    <div><button class="next-row" onclick="plusSlides(1)">&#10095;</button></div>
  </ul>
</div> 
</div>
     