<section>
  <div class="request-conteiner">
    <div class="request-header">
      <p class="request-model">
        <span class="request-model-sku">SKU:</span>WMD-2446F-GRYI
      </p>
      <div class="request-button-group">
        <button class="request-upon-button">
          <svg class="request-upon-icon" width="12" height="12">
            <use href="./image/icons.svg#icon-Check"></use></svg
          >Upon request
        </button>
        <button class="request-read-button">
          <svg class="request-read-icon" width="16" height="16">
            <use href="./image/icons.svg#icon-Star"></use>
          </svg>
          <svg class="request-read-icon" width="16" height="16">
            <use href="./image/icons.svg#icon-Star"></use>
          </svg>
          <svg class="request-read-icon" width="16" height="16">
            <use href="./image/icons.svg#icon-Star"></use>
          </svg>
          <svg class="request-read-icon" width="16" height="16">
            <use href="./image/icons.svg#icon-Star"></use>
          </svg>
          <svg class="request-read-icon" width="16" height="16">
            <use href="./image/icons.svg#icon-Star"></use>
          </svg>
          <p class="request-reviews">(20)</p>
          <p class="request-read-text">read</p>
          <svg
            class="request-read-icon-rigth"
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.75 0.75L8.29289 5.29289C8.68342 5.68342 8.68342 6.31658 8.29289 6.70711L3.75 11.25"
              stroke="#042A30"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
      <div class="request-line"></div>
    </div>
    <p class="request-price">
      <span class="request-price-from">from</span>$22360<span
        class="request-price-ea"
        >ea *</span
      >
    </p>
    <div class="request-counter" id="counter">
      <button
        class="request-counter-button"
        type="button"
        data-action="decrement"
      >
        <svg width="16" height="16">
          <use href="./image/icons.svg#icon-Minus"></use>
        </svg>
      </button>
      <span class="request-counter-data" id="values">1</span>
      <button
        class="request-counter-button"
        type="button"
        data-action="increment"
      >
        <svg width="16" height="16">
          <use href="./image/icons.svg#icon-Plus"></use>
        </svg>
      </button>
    </div>
    <button class="request-button">
      <svg class="request-upon-icon" width="12" height="12">
        <use href="./image/icons.svg#icon-Flag"></use>
      </svg>
      REQUEST
    </button>
    <p class="request-price-final">
      *Final price is defined after a consultation with our specialist due to
      actual conditions of use.
    </p>
  </div>
</section>
