<section>
        <div class="request-conteiner">
                <div class="request-header">
                <p class="request-model"><span class="request-model_sku">SKU:</span>WMD-2446F-GRYI</p>
                <button class="request-upon_button">Upon request</button>
                <div><button class="request-read_button">read</button></div>
                </div>
                <p class="request-price"><span class="request-price-from">from</span>$22360<span class="request-price-ea">ea *</span></p>
                <div class="request-counter" id="counter">
                <button class="request-counter_button" type="button" data-action="decrement">-</button>
                <span class="request-counter_data" id="values">1</span>
                <button class="request-counter_button" type="button" data-action="increment">+</button>
                </div>
                <button class="request-button">REQUEST</button>
                <p class="request-price_final">*Final price is defined after a consultation with our specialist due to actual conditions of use.</p>
        </div>
</section>