<section>
        <h1 class="sizes-conveyors_title">Incline & Decline Conveyors</h1>
         <div class="sizes-conveyors_block"> 
        <div class="sizes-conveyors_conteiner">    
                <div class="size-conveyors_text">
                        <p>Conveyor Belt Width, in</p>  
                <button class="sizes-conveyors_info open-modal">
                        <svg class="sizes-conveyors_icon" width="16" height="16">
                          <use href="./image/icons.svg#icon-info_circle"></use>
                        </svg>
                      </button></div>
                <ul class="list sizes-conveyors_width_select">
                        <li><button class="sizes-conveyors_width_button">10"</button></li>
                        <li><button class="sizes-conveyors_width_button">18"</button></li>
                        <li><button class="sizes-conveyors_width_button">24"</button></li>
                        <li><button class="sizes-conveyors_width_button">30"</button></li>
                        <li><button class="sizes-conveyors_width_button">36"</button></li>
                        <li><button class="sizes-conveyors_width_button">42"</button></li>
                        <li><button class="sizes-conveyors_width_button">48"</button></li>
                        <li><button class="sizes-conveyors_width_button">54"</button></li>
                        <li><button class="sizes-conveyors_width_button_custom" id="add-width" >CUSTOM</button></li>
                </ul>
                <ul class="list sizes-conveyors_width_select">
                        <li><button class="sizes-conveyors_width_add">&#10094;</button></li>
                        <li><span class="sizes-conveyors_width_data" id="value">1"</span></li>
                        <li><button class="sizes-conveyors_width_add">&#10095;</button></li>
                </ul>
        <div class="sizes-conveyors_width">
                <div class="size-conveyors_text">
                        <p>Bed Section Length, in</p>
                <button class="sizes-conveyors_info open-modal">
                        <svg class="sizes-conveyors_icon" width="16" height="16">
                          <use href="./image/icons.svg#icon-info_circle"></use>
                        </svg>
                      </button>
                      </div>
                <ul class="list sizes-conveyors_width_select">
                        <li><button class="sizes-conveyors_width_add">&#10094;</button></li>
                        <li><span class="sizes-conveyors_width_data" id="value">10"</span></li>
                        <li><button class="sizes-conveyors_width_add">&#10095;</button></li>
                </ul>
        </div>
        <div class="sizes-conveyors_add">
                <form class="list ">
                        <label class="sizes-conveyors_checkbox">
                          <input class="sizes-conveyors_input" type="checkbox" name="add" value="Chain Driven Feeder" />
                              Chain Driven Feeder 
                              <button class="sizes-conveyors_checkbox_info js-open-modal" data-modal="4">
                                <svg class="sizes-conveyors_icon" width="16" height="16">
                                  <use href="./image/icons.svg#icon-info_circle"></use>
                                </svg>
                              </button>
                        </label>
                        <label class="sizes-conveyors_checkbox">
                          <input class="sizes-conveyors_input" type="checkbox" name="add" value="Additional Support Structures" />
                              Additional Support Structures
                              <button class="sizes-conveyors_checkbox_info js-open-modal" data-modal="4">
                                <svg class="sizes-conveyors_icon" width="16" height="16">
                                  <use href="./image/icons.svg#icon-info_circle"></use>
                                </svg>
                              </button>
                        </label>
                        <label class="sizes-conveyors_checkbox">
                          <input class="sizes-conveyors_input" type="checkbox" name="add" value="Knee Braces" />
                            Knee Braces
                            <button class="sizes-conveyors_checkbox_info js-open-modal" data-modal="4">
                                <svg class="sizes-conveyors_icon" width="16" height="16">
                                  <use href="./image/icons.svg#icon-info_circle"></use>
                                </svg>
                              </button>
                        </label>
                        <label class="sizes-conveyors_checkbox">
                          <input class="sizes-conveyors_input" type="checkbox" name="add" value="Enhanced support" />
                            Enhanced support
                            <button class="sizes-conveyors_checkbox_info js-open-modal" data-modal="4">
                                <svg class="sizes-conveyors_icon" width="16" height="16">
                                  <use href="./image/icons.svg#icon-info_circle"></use>
                                </svg>
                              </button>
                        </label>
                      </form>
        </div>       
</div>
<include src="./partials/request.html"></include>
</div>

</section>
